annotated-types==0.8.0
asgiref==3.12.1
charset-normalizer==3.4.9
colorama==0.4.6
Django==5.2.16
django-cors-headers==4.9.0
django-filter==26.1
django-qr-code==4.2.0
django-rest-knox==5.1.0
django-rest-passwordreset==1.6.0
djangorestframework==3.17.1
gunicorn==26.0.0
packaging==26.2
pillow==12.3.0
pydantic==2.13.4
pydantic_core==2.46.4
qrcode==8.2
reportlab==5.0.0
segno==1.6.6
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
whitenoise==6.12.0
